.navbar a {
    text-decoration: none;
    margin-right: 100px;
    color: darkgrey;
}



header {
    border-style: solid;
    border-color: #ffffff;
    border-bottom-color: #cccccc;

    }

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    line-height: 80px;
    font-size: xx-large;
    
}

.form {
    width: 400px;
    height: 270px;
    padding: 10px;

}

button {
    color: white;
    background-color: aquamarine;
    border-color: aquamarine;
}
.cont h1 {
    color:cadetblue;
    text-decoration-line: underline;}

.contact h1 {
    color: cadetblue;
    text-align:start;
    border-style: solid;
    border-color: #ffffff;
    border-bottom-color: #cccccc;
}
main {
    border-style: solid;
    border-color: #ffffff;
    border-bottom-color: cadetblue;
    border-bottom-width: 10px;
    height: 500px;
    background-color:floralwhite
    
}



.cont{
    width: 800px;
    height: 50px;
    padding: 10px;
    display: flex;
    flex-direction: row;}
    
.fb{
    width: 270px;
    height: 150px;
    padding: 10px;}
main {
    display: flex;
    margin-bottom: 300px;
}
.soyad {
    display: flex;
    flex-direction: column;
    border: 5px solid #cccccc;
    margin-top: 70px;
    padding-left: 15px;
    margin-left: 50px;
    width: 800px;
    background-color: #ffffff;
}

.icon {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-top: 80px;}

footer{
    background-color: #666;
    height: 100px;
}
