.navbar a {
    text-decoration: none;
    margin-right: 100px;
}



header {
    background-color: bisque;
    height: 100px;
    border:#cccccc ;
    }

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    line-height: 80px;
    font-size: xx-large;
    
}

.form {
    width: 400px;
    height: 270px;
    padding: 10px;
   
}

button {
    color: white;
    background-color: aquamarine;
    border-color: aquamarine;
}
.cont h1 {
    color: aquamarine;}


    
footer {
    height: 100px;
    background-color: grey;
}

.cont{
    width: 265px;
    height: 50px;
    padding: 10px;
    border: 5px solid  blanchedalmond;
    display: flex;
    flex-direction: row;}
    
.fb{
    width: 270px;
    height: 150px;
    padding: 10px;
    border: 5px solid  blanchedalmond;  
}
main {
    display: flex;
    margin-bottom: 300px;
}
.soyad {
    display: flex;
    flex-direction: column;
    border: 5px solid blanchedalmond;
    margin-top: 70px;
    padding-left: 15px;
    margin-left: 50px;
}

.icon {
    display: flex;
    flex-direction: column;
    margin-left: 600px;
    margin-top: 80px;
}